.subCompTitle{
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 20px;
    color: #c6e4e3;
    font-family: 'open_sanslight';
}

.btn-red {
  background-color: #ea3d36;
  color: #fff;
}

.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}

.btn {
  border-radius: 2px;
  text-decoration: none;
}