.quickSearch {
  display: none;
}
.searchInput {
  width: calc(100vw - 200px);
  max-width: 400px;
  height: 35px;
  padding: 10px 65px 10px 46px;
  line-height: 1;
  font-size: 18px;
  border: none;
  border-radius: 2px;
}

.quickSearchForm button {
  margin-left: 10px;
  margin-top: -4px;
}

@media screen and (max-width: 767px) {
  .searchInput {
    width: calc(100vw - 180px);
    padding: 10px 15px 10px 16px;
  }
}