.header {
  width: 100%;
  height: 100vh;
  min-height: 380px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.menuBarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}