.selectComponent .active{
  display:block;
}

.selectComponent{
  position: relative;
}

.selectComponent{
  border: 2px solid #c3c8ce;
  border-radius: 4px;
}

.selectComponent a{
  width: 100%;
}

.selectComponent a .caret{
  position: absolute;
  right: 5px;
  top: 17px;
}

.selectComponent .dropdown-menu{
  width:100%;
  min-width: 0;
}