body {
  overflow: hidden;
}
.searchPage .headerWrapper {
  height: 60px;
}

.searchPage .bodyWrapper {
  height: calc(100vh - 60px);
  position: relative;
  border: 1px solid red;
}

.walletWrapper {
  margin-left: 70px;
  border: 1px solid green;
  height: 100%;
}

#leftSide {
  background-color: #213837;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  z-index: 100;
  transition: width 0.3s ease-in-out;
}

#leftSide.expanded {
  width: 200px;
}


.leftNav .c-red {
  color: #ea3d36;
}

.leftNav .c-green {
  color: #0eaaa6;
}

.leftNav .c-blue {
  color: #1d82aa;
}

.leftNav .c-yellow {
  color: #eab134;
}

.leftNav .c-magenta {
  color: #9b156e;
}

@media screen and (max-width: 767px){
#leftSide.expanded {
    width: 87%;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}
#leftSide {
  top: 50px;
  visibility: hidden;
  opacity: 0;
  margin-left: -87%;
  transition: all .2s ease-in-out;
}

.leftNav .search {
  background-color: #132120;
  display: block;
  float: none;
  padding: 10px 20px 10px 20px;
}

#leftSide .searchIcon {
  font-size: 16px;
  color: #adc8c7;
  margin-left: 0;
  padding-top: 0;
  line-height: 42px;
}
#leftSide .search input {
  background-color: #132120;
  color: #fff;
  border: 0 none;
  font-size: 12px;
  margin: 12px 0 0 10px;
  width: 88%;
  padding: 0;
}

.expanded .leftNav ul li {
  width: 100%;
}

.expanded .leftNav ul li a {
  width: 100%;
}
}