.searchPage .headerWrapper {
  height: 60px;
}

.searchPage .bodyWrapper {
  height: calc(100vh - 60px);
  position: relative;
}

.walletWrapper {
  margin-left: 70px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .searchPage .headerWrapper {
    height: 50px;
  }
  .searchPage .bodyWrapper {
    height: calc(100vh - 50px);
  }
  .walletWrapper {
    margin-left: 0px;
  }
}