body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  background: #fff;
  overflow-y: scroll;
}

html, body {
  height: 100%;
  font-size: 13px;
}

.btn {
  border-radius: 2px;
  text-decoration: none;
}
.btn-round {
  border-radius: 50px;
}
.btn-o {
  border-width: 1px;
  border-style: solid;
}

.btn-black {
  background-color: #333;
  color: #fff;
}

.btn-o.btn-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}

.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open > .dropdown-toggle.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-o.btn-black:hover, .btn-o.btn-black:focus, .btn-o.btn-black:active, .btn-o.btn-black.active, .open > .dropdown-toggle.btn-o.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}

.btn-o.btn-green {
  background-color: transparent;
  color: #0eaaa6;
  border-color: #0eaaa6;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .dropdown-toggle.btn-green {
  background-color: #068b85;
  color: #fff;
}

.btn-o.btn-green:hover, .btn-o.btn-green:focus, .btn-o.btn-green:active, .btn-o.btn-green.active, .open > .dropdown-toggle.btn-o.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}

.text-green {
  color: #0eaaa6;
}
a.text-green:hover {
  color: #068b85;
}

.help-block {
  font-size: 11px;
  font-style: italic;
}

.align-right {
  text-align: right !important;
}