
.inputMap .mapWrapper{
  height: 400px;
  width: 100%;
  z-index: 1000;
  display: none;
}

.inputMap .mapWrapper.active{
  display: block;
}

.inputMap .searchMap.active {
  width: 100%;
  height: 100%;
}

.inputMap .place{
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -10px;
  top: -10px;  
  border: 1px solid blue;
  background: red;
  color: yellow; 
}