.detailTab {
  box-shadow: 1px 1px 5px #888888;
}

.detailTab li {
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  margin: 0 1px;
}

.detailTab li:hover, .detailTab li.active {
  border-color: #0eaaa6;
  text-decoration: none;
}

.detailTab li.active a {
  color: black;
}

@media screen and (max-width: 767px) {
  .detailTab ul {
    padding-left: 10px;
  }
}