.header {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  position: relative;
}

.menuBarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.homeTitle {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

.homeSubtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
}

.homeCaption {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 30px;
  width: 100%;
  text-align: center;
  top: calc(50vh - 150px);
  left: 0;
}

@media screen and (max-width: 991px) {
  .homeTitle {
    font-size: 34px;
    line-height: 38px;
  }
}

@media screen and (max-width: 767px) {
  .homeTitle {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .homeTitle {
    font-size: 22px;
    line-height: 26px;
  }
  .homeSubtitle {
    font-size: 12px;
  }
}