.dashboard .headerWrapper {
  height: 60px;
}

.dashboard .bodyWrapper {
  height: calc(100vh - 60px);
  position: relative;
}

@media screen and (max-width: 767px) {
  .dashboard .headerWrapper {
    height: 50px;
  }
  .dashboard .bodyWrapper {
    height: calc(100vh - 50px);
  }
}