.slimScrollDiv{
  position: relative;
  overflow: hidden;
  width: auto;
  height: 531px;
}

.slimScrollDiv .leftNav{
  overflow: hidden;
  width: auto;
  height: 531px;
}

.slimScrollBar{
  background: rgb(0, 0, 0);
  width: 7px;
  position: absolute;
  top: 0px;
  opacity: 0.4;
  display: none;
  border-radius: 7px;
  z-index: 99;
  right: 1px;
  height: 531px;
}

.slimScrollRail{
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: none;
  border-radius: 7px;
  background: rgb(51, 51, 51);
  opacity: 0.2;
  z-index: 90;
  right: 1px;
}

.leftNav .search {
  display: none;
  float: left;
}

.leftNav .searchIcon {
  font-size: 13px;
  float: left;
  color: #999;
  margin-left: 23px;
  display: block;
  padding-top: 23px;
  transition: all .2s ease-in-out;
}

.search input {
  background-color: #fff;
  color: #3a3a3a;
  border: 0 none;
  font-size: 13px;
  margin: 19px 0 0 5px;
  width: 210px;
  -webkit-appearance: none;
}

.leftNav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.expanded .leftNav ul li {
  width: 200px;
  position: relative;
}

.leftNav ul li a {
  display: block;
  font-size: 16px;
  color: #adc8c7;
  overflow: hidden;
  transition: all .2s ease-in-out;
  text-decoration: none;
}



.expanded .leftNav ul li a span.navIcon {
  top: auto;
  margin-right: 10px;
}

.expanded .leftNav ul li a span {
  position: relative;
  width: auto;
  display: inline-block;
  text-align: left;
}

.leftNav ul li a span {
  z-index: 110;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.expanded .leftNav ul li a span.navLabel {
  bottom: 2px;
  left: 0;
}

.leftNav ul li ul {
  background-color: #132120;
  width: 200px;
  transition: all .2s ease-in-out;
}

.expanded .leftNav ul li ul {
  position: relative;
  left: 0;
  visibility: visible;
  opacity: 1;
  max-height: 0;
  z-index: 1;
  top: auto;
  overflow: hidden;
  display: block;
  transition: all .4s ease-in-out;
}

.leftNav ul li a span.navLabel {
  font-size: 12px;
}


.no-touch .leftNav ul li ul {
  background-color: #132120;
  width: 200px;
  transition: all .2s ease-in-out;
}

.expanded .leftNav ul li ul.bigList {
  max-height: 600px;
}

.expanded .leftNav ul li:hover ul{
  left: 0;
}

.leftNav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}
.leftNav ul li ul li a{
  font-size: 12px;
}

.leftNav ul li ul li a span.icon-right {
  font-size: 11px;
  font-weight: normal;
  margin-right: 0;
  position: relative;
  width: auto;
  float: right;
  margin-top: 4px;
}

.expanded .leftNav > ul > li.hasSub > a > span.badge {
  display: none;
}
.expanded .leftNav > ul > li > a > span.badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  float: right;
  top: auto;
  left: auto;
  position: relative;
  margin-top: 2px;
}

.expanded .leftNav > ul > li > a > span.arrowRight {
  display: inline-block;
  float: right;
  font-size: 12px;
  margin-top: 5px;
}



.expanded .leftNav ul li a {
  width: 200px;
  height: auto;
  padding: 10px 20px;
}

.leftNav ul li.active > ul li a:hover {
  color: #fff;
  background-color: #05635e;
  padding-left: 30px;
  text-decoration: none;
}

.expanded .leftNav > ul > li.active > a {
  background-color: #067670;
  color: #fff;
}

.leftNav ul li:hover > a {
  background-color: #067670;
  color: #fff;
}

